@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    color: #151515;
    text-decoration: none;
}

.modal_box{
    transition: .5s;
    color: #bb93fc;
}

.top{
    transform: translateY(-65px);
}

.left{
    transform: translateX(-65px);
}

.bottom{
    transform: translateY(65px);
}

.right{
    transform: translateX(65px);
}

.container{
    height: 100vh;
    background-color: #5e5e5e;
    color: #fff;
    padding: 1rem 0;

    .content{
        transition: .5s;
        padding-left: 1.5rem;

        .modal{
            display: inline;
            transform: translateX(0);
            transition: .5s;
        }

        .slide{
            display: inline;
            color: #bb93fc;
            transition: .5s;
            display: none;
        }
    }

    .msg{
        position: absolute;
        left: 50%;
        top: 170px;
        transform: translateX(-50%);
        font-size: 1.5rem;
        transition: .5s;
    }

    .wrapper_box{
        position: relative;
        margin-top: 225px;
    }

    .wrapper :is(.btn, .link){
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        padding: 25px;
        border-radius: 50%;
        background-color: #fff;
        color: #151515;
        transition: .5s;
    }

    .wrapper{
        .btn{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            border: none;
            outline: none;
            cursor: pointer;
            z-index: 10;
        }

        .item{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            list-style-type: none;
        }

        .link:hover{
            background-color: #bb93fc;
            color: #fff;
        }
    }
}

.active{
    color: #bb93fc;
}

@media (max-width: 425px) {
    .container{
        .wrapper :is(.btn, .link){
         }
    }
}